<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nickelffoxassignments_sheenu">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".news.NewsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_study_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_study_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Starting"
        tools:targetApi="31">
        <service android:name=".stopwatch.utils.StopWatchService"/>

        <receiver android:name=".stopwatch.utils.NotificationIntentService"/>
        <activity
            android:name="com.example.nickelffoxassignments_sheenu.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name="com.example.nickelffoxassignments_sheenu.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>